.about{
    z-index: 10;
    height: 70vh;
    display: flex;
    flex-direction: row;
    position: relative;
}
.about .foto{
    width: 75%;
    overflow: hidden;
    background-image: url('../../assets/Perfil2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.about .description{
    background: rgb(235, 235, 235);
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about .description .text{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.about .description h1{
    text-align: left;
    color: rgb(80,80,80);
    font-size: 3rem;
    
}
.about .description .biografia,.unb{
    color: rgb(150, 150, 150);
    font-size: 1.8rem;
    margin-top: 1rem;
    padding-left: 2px;
    text-decoration:none;
}
.about .description a{
    color: rgb(83, 155, 221);
    padding: 0;
}
@media(max-width: 1350px){
    .about .description h1{
        font-size: 2.5em;
    }
    .about .description .biografia,.unb{
        font-size: 1.6rem;
        margin-top: 0rem;
    }
}
@media(max-width: 1020px){
    .about .description h1{
        font-size: 2em;
    }
    .about .description .biografia,.unb{
        font-size: 1.5rem;
        padding-left: 1px;
    }
}
@media(max-width: 920px){
    .about .description h1{
        font-size: 1.9em;
    }
    .about .description .biografia,.unb{
        font-size: 1.4rem;
        padding-left: 1px;
    }
}
@media(max-height: 655px){
    .about{
        height: 460px;
    }
}
@media(max-width: 800px){
    .about{
        height: 120vh;
        flex-direction: column;
    }
    .about .foto{
        width: 100%;
        height: 50%;
    }
    .about .description{
        width: 100%;
        height: 50%;
        align-items: center;
    }
    .about .description .text{
        align-items: center;
    }
    .about .description h1{
        font-size: 2em;
        text-align: center;
    }
    .about .description .biografia,.unb{
        color: rgb(110, 110, 110);
        font-size: 1.6rem;
        text-align: center;
        padding: 0;
    }
}
@media(max-width: 470px){
    .about .description h1{
        font-size: 1.6em;
    }
    .about .description .biografia,.unb{
        font-size: 1.4rem;
        text-align: center;
    }
}
@media(max-width: 330px){
    .about .description h1{
        font-size: 1.5em;
    }
    .about .description .biografia,.unb{
        font-size: 1.2rem;
        text-align: center;
    }
}
